* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --spacing-default: 1.2rem;
  --primary-color: #e43e5a;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(transparent, #e43e5a), url("../images/tile.png");
  background-attachment: fixed;
  background-blend-mode: color-burn;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
}

section {
  counter-reset: contador;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  /* background: #0077; */
  max-width: 100rem;
  width: 95%;
  padding: 0 0 2.4rem;
}

.main-title {
  padding-top: var(--spacing-default);
  margin-bottom: var(--spacing-default);
  text-align: center;
}

.colors {
  padding: 1.6rem;
  border: 8px dashed color-mix(in srgb, var(--primary-color), transparent 25%);
  counter-increment: contador;
  background-clip: padding-box;

  &:before {
    content: "[ " counter(contador) " ]";
    margin-bottom: var(--spacing-default);

    font-family: sans-serif;
    font-weight: 600;
  }
}

.colors:not(:last-child) {
  margin-bottom: var(--spacing-default);
}

.text {
  text-indent: 1rem;
  letter-spacing: 0.15rem;

  &:first-letter {
    font-size: 2rem;
  }
}

.colors:nth-child(2) {
  background-color: #fff;
  background-clip: padding-box;
  padding: 5rem;
}

.colors:nth-child(3) {
  background: hsl(105deg, 100%, 50%, 0.5);
  box-shadow: 4px 4px 6px 6px hsl(150deg, 100%, 35%) inset;
  transition: background 0.5s;

  &:hover {
    background: hsl(105deg, 100%, 50%);
  }
}

.colors:nth-child(4) {
  background-image:
    linear-gradient(235deg, hsl(70deg, 100%, 50%), hsl(235, 100%, 50%)),
    linear-gradient(90deg, hsl(0deg, 100%, 50%), hsl(180deg, 100%, 50%));
  background-clip: content-box, padding-box;
  outline: 2.5px solid #fff;
  outline-offset: -24px;

  & .text {
    padding: 1.2rem;
  }

  &:before {
    padding: 0.8rem;
  }
}

.colors:nth-child(5) {
  background-image: radial-gradient(
    circle,
    hsl(270deg, 100%, 50%),
    hsl(315deg, 100%, 50%),
    color-mix(in oklch, hsl(360deg, 100%, 50%), #000)
  );
}

.colors:nth-child(6) {
  background: radial-gradient(circle at 0% 19%, blue 5%, #f008 5%);
}

.colors:nth-child(7) {
  background: radial-gradient(closest-corner at 5% 19%, blue 50%, #f008 5%);
}

.colors:nth-child(8) {
  background: radial-gradient(farthest-corner at 5% 19%, blue 50%, #f008 5%);
}

.colors:nth-child(9) {
  background: radial-gradient(closest-side at 5% 19%, blue 50%, #f008 5%);
}

.colors:nth-child(10) {
  background-image: radial-gradient(
    farthest-side at 5% 19%,
    blue 50%,
    #f008 5%
  );
}

.colors:nth-child(11) {
  background-image: conic-gradient(
    from 45deg,
    red 0deg 90deg,
    yellow 90deg 180deg,
    green 180deg 270deg,
    blue 270deg
  );
}

.colors:nth-child(12) {
  background-image: conic-gradient(
    from 45deg,
    red 0deg 90deg,
    blue 90deg 180deg,
    green 180deg 270deg,
    red 270deg 360deg
  );
}

.colors:nth-child(13) {
  background-image: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  animation: rotate 1s linear infinite;

  color: #fff;

  position: relative;

  &:after {
    content: "";
    display: inline-block;
    background: color-mix(#000, transparent);
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@keyframes rotate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.colors:nth-child(14) {
  background-image: repeating-linear-gradient(
    to top right,
    #fff 0px,
    #fff 5px,
    #000 5px,
    #000 10px
  );
}

.colors:nth-child(15) {
  background-image: repeating-radial-gradient(
    #fff 0px,
    #fff 5px,
    #000 10px,
    #000 20px
  );
}

.colors:nth-child(16) {
  background-image:
    repeating-conic-gradient(
      transparent 0deg,
      transparent 5deg,
      #000 10deg,
      #000 20deg
    ),
    repeating-radial-gradient(#f00 0%, transparent, #00f 20%);
  background-attachment: fixed, scroll;
}

.colors:nth-child(17) {
  background-image:
    repeating-radial-gradient(#f00 0%, transparent, #00f 20%),
    repeating-linear-gradient(#f00, #00f);
  background-attachment: scroll, fixed;
}

.colors:nth-child(18) {
  box-shadow: 10px 10px 6px rgb(0 0 0 / 0.8);
}

.colors:nth-child(19) {
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.8));
}

.colors:nth-child(20) {
  background-image: linear-gradient(to top right, transparent 50%, #f00 50%);
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.8));
}
