/* White Spaces (px)
2, 4, 8, (12), 16, (24), 32, 48, 64, 80, 96, 112, 128, 144
*/

/* Fonte Size (px)
10, 12, 14, 16, 18, 20, 24, 30, 36, 44, 52, 62, 74, 86, 98,
*/

body {
  background: #cccccc;
  font: 1.6rem sans-serif;
}

/* HERO (HEADER) */
.hero {
  min-height: 500px;
  background-color: #151519;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.356) 100%, transparent),
    url("../images/bg-3.jpg") right center / cover;
  margin-bottom: 1.6rem;
  color: #fff;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 75px 1fr;
  justify-items: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.hero-mainTitle {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  font-weight: 600;
  text-shadow: 2px 2px 0 #000;
}

.hero-subTitle {
  display: inline-block;
  background: rgba(0, 0, 0, 0.556);
  padding: 1.2rem;
  box-shadow: inset 0 -1px 0 #fff;
}

.hero-nav {
  padding: 0 1.2rem;
  grid-area: 1 / 2 / 2 / -1;
}

.hero-navList {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.hero-nav .navLink:link,
.navLink:visited {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  padding: 1.2rem;
  border: 1px solid #b5b5b5;

  color: #c8c8c8;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s linear;
}

.hero-nav .navLink:hover,
.navLink:active {
  background: rgba(0, 0, 0, 0.556);
  border-color: #fff;
  color: #fff;
}

/* M A I N */
.mainContainer {
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  max-width: 970px;
  width: 90%;
  background: #fff;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
}

.secondary-hero {
  background: #e2e2e2;
  padding: 0.8rem 1.2rem;
  margin-bottom: 1.2rem;
  box-shadow: inset 0 -2px 0 #9e9e9e;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 8px;

  float: right;
  object-fit: contain;
  user-select: none;
}

.secondary-heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.content {
  margin-bottom: 1.6rem;
  line-height: 1.6;
}

.link:link,
.link:visited {
  background: #e6dfda;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;

  color: #00f;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s linear;
}

.link:hover,
.link:active {
  background: #b3ada9;
}

.article-html .link:hover,
.link:active {
  background: #e34f26;
  color: #fff;
}
.article-css .link:hover,
.link:active {
  background: #1572b6;
  color: #fff;
}
.article-js .link:hover,
.link:active {
  background: #f7df1e;
  color: #000;
}


/* F O O T E R */
footer {
  padding: 1.6rem;
  margin-top: 2.4rem;
  background: rgba(0, 0, 0, 0.556);
}

.footerContent {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 3px 3px 0 #000;
}
