@charset "UTF-8";

:root {
  --color-margin: #ac855d;
  --color-border: #e3c489;
  --color-padding: #b5c287;
  --color-content: #86b2b8;
}

.drawn-container {
  height: 50vh;
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.sub-container {
  perspective: 800px;
  perspective-origin: center;
}

.box {
  background: #fff;
  border: 1px solid #000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  transition: transform 5s ease;
}

.margin {
  background: var(--color-margin);
  width: 250px;
  height: 250px;
}

.border {
  background: var(--color-border);
  width: 200px;
  height: 200px;
}

.padding {
  background: var(--color-padding);
  width: 150px;
  height: 150px;
}

.content {
  background: var(--color-content);
  width: 100px;
  height: 100px;
}

.container-dir {
  position: relative;
  /* background-color: red; */
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dir {
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  position: absolute;
  white-space: nowrap;

  /*   font-size: 13px; */
}

.top {
  top: 0;
}

.right {
  right: 0;
  transform: translate(30%, -50%) rotate(90deg);
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
  transform: translate(-30%, -50%) rotate(270deg);
}

.right,
.left {
  top: 50%;
  transform-origin: center;
}

.top,
.bottom {
  left: 50%;
  transform: translateX(-50%);
}

.name {
  position: absolute;
  top: 0;
}

/* style hover */
.box:hover {
  transform: translate(-50%, -50%) translateZ(100px) scale3d(1.15, 1.15, 1.2);
  /*   z-index: 999; */
}

.box:hover .dir {
  opacity: 1;
}

.box:hover .name {
  opacity: 0;
}
