* {
  margin: 0;
}

h1 {
  margin-bottom: 12px;
}

li:last-child {
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
}

a {
  display: inline-block;
  margin-bottom: 4px;
}

a[target="_blank"]::after {
  content: url(images/newWindow-icon.png);
  margin-left: 4px;
}

a[href$=".pdf"]::before {
  content: url(images/pdf-icon.gif);
  margin-right: 4px;
}

input[type="checkbox"]:checked + label {
  color: #0a0;
}

input[type="checkbox"]:not(:checked) + label {
  color: #f00;
}

input[type="checkbox"]:disabled + label {
  color: #00f;
}

li li:nth-child(3) {
  background: #f99;
}

li:not(li li li)::after {
  content: "✓";
  margin-left: 8px;
  color: #0a0;
  font-weight: 600;
}
