* {
  margin: 0;
}

div {
  border: 3px solid #f00;
  padding: 1em;
  position: relative;
}

div::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #a00;
  position: absolute;
  bottom: 0;
  right: 0;
}

div::before {
  content: url(https://placehold.co/100x100/ffff00/000?text=O.O);
  margin-right: 1em;
  float: left;
}

p::before {
  content: "ANTES";
}

P::after {
  content: "DEPOIS";
}

/* https://placehold.com/100x100/000000 */
