body {
  background: #0c1014;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;

  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  background: #05080a;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-img {
  width: 100px;
  height: 40px;
}

.header__list {
  list-style: none;
  font-size: 18px;

  display: flex;
  gap: 16px;
}

.btn:link,
.btn:visited {
  border-radius: 6px;
  text-decoration: none;
}

.header__link:link,
.header__link:visited {
  padding: 14px;
  color: #fff;
}

.header__link--active:link,
.header__link--active:visited,
.plan__btn:link,
.plan__btn:visited {
  background: #cbe300;
  color: #0c1014;
}

.header__link--active:link,
.header__link--active:visited {
  pointer-events: none;
}

.header__link:hover,
.header__link:active {
  text-decoration: underline;
}

.hero__title {
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
}

.pricing {
  display: flex;
  gap: 16px;
}

.plan {
  background: #1f262c;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 15px -6px #000;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plan__title {
  padding-bottom: 10px;
  border-bottom: 2px solid #cbe300;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.plan__price {
  display: flex;
  align-items: baseline;
}

.plan__amount {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
}

.plan__period {
  color: #b5b5b5;
}

.plan__features {
  padding-left: 16px;
  margin: 0 0 35px;
  color: #b5b5b5;
  line-height: 1.8;

  flex: 1;
}

.plan__feature::marker {
  color: #cbe300;
}

.plan__btn {
  padding: 16px 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.plan__btn:hover,
.plan__btn:active {
  background: transparent;
  outline: 2px solid #cbe300;
  color: #fff;
}
