body.only-print {
  color: #000;
  font-family: serif;
  background: red;
}

body::after {
  content: "Impressão";
  display: block;

  font-size: 48px;
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

a::after {
  content: "(" attr(href) ") - (" attr(title) ")";
  display: inline-block;
  margin-left: 0.5em;
}
